body {
    background: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%) fixed !important;
}

div.ui.home.grid.container {
    max-width: 940px !important;
    margin-top: 5vh;
}

h1.ui.white.home {
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 3rem;
}

p.ui.white.home.text {
    color: #FFFFFF;
    font-size: 2rem;
}

a.ui.white.home.text {
    color: #FFFFFF;
    font-size: 2rem;
    text-decoration: underline;
    transition: color 0.2s linear;
}

a.ui.white.home.text:hover {
    color: #64FFDA;
}

.ui.container {
    display: none;
}

.ui.text.menu .active.item {
    color: #FFFFFF;
}